.container {
   max-width: 1450px;

   padding: 0 10px;
   margin: 0 auto;

   ._500({
      padding: 0 5px;
   });
}

* {
   position: relative;

 


}

.page-wrap {
   width: 100vw;
   overflow-x: hidden;
}


picture {
   height: 100%;
}

picture img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

body {
   width: 100vw;
   overflow-x: hidden;

   font-family: "";
   font-size: 16px;
   letter-spacing: 0.03em;
   line-height: 105%;
}

a {
   .tran-fast;
   &.inline {
      display: inline;
   }
}

p, a, span {
   .tran-fast;
}

.hover-link-trigger{
   &:hover {
      .hover-link-target{
         color: red;
      }
   }
}

.hover-link-target{
   &:hover {
      color: red;
   }
}

