.container {
   max-width: 1450px;

   padding: 0 10px;
   margin: 0 auto;
   overflow: hidden;

   ._500({
      padding: 0 5px;
   });

   &_full-width {
      max-width: 1980px;
      margin: 0 auto;
      overflow: hidden;
   }
}

* {
   position: relative;
}

.page-wrap {
   width: 100vw;
   overflow-x: hidden;
}

picture {
   height: 100%;
}

picture img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

body {
   width: 100vw;
   overflow-x: hidden;

   font-family: "";
   font-size: 16px;
   letter-spacing: 0.03em;
   line-height: 105%;
}

a {
   .tran-fast;
   &.inline {
      display: inline;
   }
}

p,
a,
span {
   .tran-fast;
}

/* ---------- HOVER EFFECTS --------- */

.hover-link-trigger {
   &:hover {
      .hover-link-target {
         color: red;
      }
   }
}

.hover-link-target {
   &:hover {
      color: red;
   }
}

/* -------- FANCYBOX-SETTINGS ------- */

//отцентровать модалку по центру экрана
.fancybox-slide{
   .flex(center;center);
}

//если нужно, чтобы все слайды были одинаковые по высоте
.slick-track {
   display: flex;
}

.slick-slide {
   height: auto;
   flex: 0 0 auto;
}

// сделать отступы у элементов слайдера между собой
.slick-list  {
   margin: 0 -10px;
}

.slick-slide {
   margin: 0 10px;
}

// показать справа часть слайда на мобилках
.slick-list {
   ._900({
      padding-right: 100px !important;
   });

   ._375({
      padding-right: 50px !important;
   });

   ._375({
      padding-right: 35px !important;
   });
   
}