.container {
   max-width: 1450px;

   padding: 0 10px;
   margin: 0 auto;

   ._500({
      padding: 0 5px;
   });
}

* {
   font-family: "VALTRA Aveny T";
   font-size: 16px;
   letter-spacing: 0.03em;

   .tran-fast;
}

*,
*:after,
*:before[hidden="none"] {
   display: none;
}

*,
*:after,
*:before[hidden="contents"] {
   display: contents;
}

*,
*:after,
*:before[hidden="opacity"] {
   opacity: 0;
}

*,
*:after,
*:before[hidden="hidden"] {
   visibility: hidden;
}
