.default-breadcrumbs
	.container
		ul.default-breadcrumbs__items
			li.default-breadcrumbs__item
				a.default-breadcrumbs__item-link(href="#") Главная
			li.default-breadcrumbs__item
				a.default-breadcrumbs__item-link(href="#") Восстановление пароля
			li.default-breadcrumbs__item
				a.default-breadcrumbs__item-link(href="#") Каталог
