.custom-select.collection__custom-select
	.custom-select__selected-option.collection__selected-option
		.custom-select__selected-option-text Сортировать по
		img.custom-select__selected-option-icon(src="../min-img/icons/trangle.png" alt="")
	ul.custom-select__option-items
		li.custom-select__option-item.collection__option-item Дате
		li.custom-select__option-item.collection__option-item Убыванию цены
		li.custom-select__option-item.collection__option-item Возрастанию цены