mixin header(colorClass)
   -var itemImages = ['/img/header/house.svg','/img/header/man.svg','/img/header/employee.svg', "/img/header/briefcase.svg","/img/header/success.svg"]
   header.header
      .container
         .header__wrapper
            a.header__logo-wrapper(href='#')
               img.header__logo-img(alt='логотип' src='/img/header/logo.svg')
            nav.header__menu-wrapper
               .header__mobile-menu-wrapper(contents)
                  input#header-input.header__mobile-checkbox(type='checkbox' none)
                  label.header__mobile-label(for='header-input')
                  .header__mobile-menu-item(none)
                     img.header__mobile-menu-item-img(src='/img/header/menu.svg' alt='Меню' none)
                  ul.header__menu
                     each menuText,index in ['В начало', 'Обо мне', 'Навыки', 'Портфолио','Опыт работы']
                        li.header__menu-item
                           a.header__menu-item-link(href='#')
                              img.header__menu-item-img(src=itemImages[index] alt=menuText)
                              span=menuText