extends ../page-template/index.pug

block main-content
	.about-page.page-padding
		h1.section-title.section-title_dark.section-title_mid-margin О компании
		.about-page__content
			.container
				.js-single-img-slider.before-slider
					ul.js-single-img-slider__items.before-slider_show-one
						-for(let i = 0; i < 6; i++)
							li.js-single-img-slider__item.before-slider__slider-item
								+setPicture("l-img", "pages/about", "1", "jpg")
				.about-page__b-advantages.b-advantages
					.b-advantages__info-content
						+setPicture("b-advantages__points-img-1", "common/advantages", "points-1", "png")
						.b-advantages__text-wrap
							.l-title-wrap
								h1.section-title.section-title_black
									| Ингредиенты
									br
									| от ведущих европейских производителей
							.l-more-wrap
								p.l-more-text Компания «Файн Ингредиентс предлагает широкий выбор дифференцирующих и функциональных ингредиентов от ведущих европейских производителей для всех отраслей пищевой промышленности. Компания «Файн Ингредиентс» предлагает широкий выбор дифференцирующих и функциональных.
						.b-advantages__img-wrap
							+setLazyPicture("b-advantages__img-1", "common/advantages", "img-1", "jpg")
							+setLazyPicture("b-advantages__img-2", "common/advantages", "img-2", "jpg")
					.b-advantages__items-wrap
						+setPicture("b-advantages__points-img-2", "common/advantages", "points-2", "png")
						ul.b-advantages__items.anim-number-trigger
							li.b-advantages__item
								img.l-leaves-icon(src="/frontend-dist/svg/leaves-1.svg" alt="")
								.l-number-wrap
									// data-number - идет нужно число, по умолчанию 0
									span.l-number.anim-number(data-number="100") 0
									sup.l-suptext Сотрудников
								p.l-text
									span Компания «Файн
									br
									| Ингредиентс»
							li.b-advantages__item
								img.l-leaves-icon(src="/frontend-dist/svg/leaves-2.svg" alt="")
								.l-number-wrap
									span.l-number.anim-number(data-number="510") 0
									sup.l-suptext Позиций
								p.l-text
									span Ассортимент «Файн
									br
									| Ингредиентс»
							li.b-advantages__item
								img.l-leaves-icon(src="/frontend-dist/svg/leaves-3.svg" alt="")
								.l-number-wrap
									span.l-number.anim-number(data-number="208") 0
									sup.l-suptext Офисов
								p.l-text
									span Компания «Файн
									br
									| Ингредиентс»
				.about-page__text-content
					p.page-content-title.page-content-title_center Компания «Файн Ингредиентс» предлагает широкий выбор дифференцирующих и функциональных ингредиентов от ведущих европейских производителей для всех отраслей пищевой промышленности.
					p.page-content-text.page-content-text_center
						| Сегодня, 17 сентября, заместитель коммерческого директора Файн Ингредиентс Светлана Малых и технолог кондитерского направления Мария Корзенко провели вебинар "Инновационное вдохновение в эпоху перемен - 2".
						br
						br
						| Наши эксперты продолжили рассматривать основные поведенческие сценарии в период пандемии и предложили актуальные концепты, способные удовлетворить запросы потребителей.
				.about-page__persons
					h2.about-page__persons-title Руководство
					.about-page__persons-items
						-for(let i = 0; i < 2; i++)
							.about-page__persons-item
								a.l-img-link.hover-back(href="#")
									+setLazyPicture("l-img", "pages/person", "1", "jpg")
								a.l-name.hover-link-target(href="#") Александр Владимиров
								p.l-position Руководитель компании
							.about-page__persons-item
								a.l-img-link.hover-back(href="#")
									+setLazyPicture("l-img", "pages/person", "2", "jpg")
								a.l-name.hover-link-target(href="#") Александр Владимиров
								p.l-position Руководитель компании
							.about-page__persons-item
								a.l-img-link.hover-back(href="#")
									+setLazyPicture("l-img", "pages/person", "3", "jpg")
								a.l-name.hover-link-target(href="#") Александр Владимиров
								p.l-position Руководитель компании
