extends ../page-template/default.pug

block page-content 
   // карта клиента
   .user-cart.panel
      h2.user-cart__title Карта клиента
      .user-cart__text-row
         p.user-cart__row-text Данные о бонусных картах по номеру телефона +7 (990) 996-99-99
         p.user-cart__row-text 10.02.2021 12:23
      .bonus-table
         .bonus-table__content
            ul.bonus-table__title-items.bonus-table__row
               li.bonus-table__title-item Бонусная карта
               li.bonus-table__title-item Остаток бонусов на текущую дату
               li.bonus-table__title-item Дата следующей активации бонусов
               li.bonus-table__title-item Бонусы, которые будут активированы
            ul.bonus-table__content-items.bonus-table__row
               li.bonus-table__content-item.first
                  p.text Иванов Иван Иванович
               li.bonus-table__content-item
                  p.text 100              
               li.bonus-table__content-item
                  p.text 14.03.2021                   
                  p.text 28.03.2021
                  p.text 30.03.2021
               li.bonus-table__content-item
                  p.text 50                  
                  p.text 20
                  p.text 149         
            .bonus-table__bottom-item.bonus-table__row 
               .bonus-table__bottom-item-cell Иванов Иван И
               .bonus-table__bottom-item-cell 0
               .bonus-table__bottom-item-cell Нет бонусов к активации
               .bonus-table__bottom-item-cell 
      .btn ПРОВЕРИТЬ ДРУГОЙ НОМЕР

   .card-panel.bonus-page
      .bonus-page__narrow-content
         h2.bonus-page__title Проверить бонусные баллы
         <div class="input-field bordered field-requestcallform-phone required">
            <input type="text" id="requestcallform-phone" class="form-control" name="RequestCallForm[phone]" value="8(9127)34-99-25" placeholder="Номер телефона" required="" aria-required="true">
            <p class="help-block help-block-error"></p>
         </div>
         .bonus-page__input-text Введите телефон в формате +70000000000 для того, чтобы проверить свои бонусные баллы
         .btn ПРОВЕРИТЬ БОНУСНЫЕ БАЛЛЫ
      .bonus-program
         .bonus-program__title Бонусная программа карты клиентов «Инструмент»
         p.bonus-program__text Во всех розничных магазинах «Инструмент» совершайте покупки и получайте до 10% на Вашу карту клиента!        
         img.bonus-program__img(src="/min-img/bonus-product-1.jpg" style="margin-bottom: 30px" alt="")
         p.bonus-program__text.bonus-program__text_center Преимущества карты клиента «Инструмент»
         img.bonus-program__img(src="/min-img/bonus-product-2.png" alt="")
         img.bonus-program__img(src="/min-img/bonus-product-3.png" alt="")
         p.bonus-program__text.bonus-program__text_small-font С полными условиями программы карты клиентов «Инструмент» вы можете ознакомиться в любом магазине «Инструмент» или по телефону 8-800-333-40-65.
         p.bonus-program__text.bonus-program__text_small-font Все цены в интернет-магазине «Инструмент» указаны с учетом всех скидок. Дополнительные скидки не предоставляются, бонусы на карту клиента не начисляются.       

   .card-panel.bonus-page
      .bonus-table
         .bonus-table__content
            ul.bonus-table__title-items.bonus-table__row
               li.bonus-table__title-item Бонусная карта
               li.bonus-table__title-item Остаток бонусов на текущую дату
               li.bonus-table__title-item Дата следующей активации бонусов
               li.bonus-table__title-item Бонусы, которые будут активированы
            ul.bonus-table__content-items.bonus-table__row
               li.bonus-table__content-item.first
                  p.text Иванов Иван Иванович
               li.bonus-table__content-item
                  p.text 100              
               li.bonus-table__content-item
                  p.text 14.03.2021                   
                  p.text 28.03.2021
                  p.text 30.03.2021
               li.bonus-table__content-item
                  p.text 50                  
                  p.text 20
                  p.text 149         
            .bonus-table__bottom-item.bonus-table__row 
               .bonus-table__bottom-item-cell Иванов Иван И
               .bonus-table__bottom-item-cell 0
               .bonus-table__bottom-item-cell Нет бонусов к активации
               .bonus-table__bottom-item-cell 
         .btn ПРОВЕРИТЬ ДРУГОЙ НОМЕР
      .bonus-program
         .bonus-program__title Бонусная программа карты клиентов «Инструмент»
         p.bonus-program__text Во всех розничных магазинах «Инструмент» совершайте покупки и получайте до 10% на Вашу карту клиента!        
         img.bonus-program__img(src="/min-img/bonus-product-1.jpg" style="margin-bottom: 30px" alt="")
         p.bonus-program__text.bonus-program__text_center Преимущества карты клиента «Инструмент»
         img.bonus-program__img(src="/min-img/bonus-product-2.png" alt="")
         img.bonus-program__img(src="/min-img/bonus-product-3.png" alt="")
         p.bonus-program__text.bonus-program__text_small-font С полными условиями программы карты клиентов «Инструмент» вы можете ознакомиться в любом магазине «Инструмент» или по телефону 8-800-333-40-65.
         p.bonus-program__text.bonus-program__text_small-font Все цены в интернет-магазине «Инструмент» указаны с учетом всех скидок. Дополнительные скидки не предоставляются, бонусы на карту клиента не начисляются.  
