
include ../include/header.pug

<!DOCTYPE html>
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Index
      link(rel='stylesheet', href='../css/main.min.css')
      link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
      link(rel='icon' href='/favicon.ico' type='image/x-icon')
   body
   +header()
   main
      section.intro
         .container
            .intro__wrapper
               .intro__content
                  p.intro__content-pretext Привет, меня зовут Денис и я
                  p.intro__content-main-text front-end / javascript разработчик
                  p.intro__content-subtext создание современных сайтов и приложений
               .intro__img-wrapper
                  picture()
                  img.intro__img(src='/img/intro/user.webp' alt=' ')
                
   script(src='/js/main.min.js')