
include ../include/header.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document1
	body 
		section.intro
			+header("header__text-color_white header")
			.test-name
				
				

	   
   



		