.default-breadcrumbs
   .container
      ul.items
         li.item
            a(href="#") Главная
         li.item
            a(href="#") Восстановление пароля
         li.item
            a(href="#") Каталог