extends ../page-template/template.pug
block page-content
   .page-content
      include ../page-layout/header.pug
      main.main-content
         block main-content
      include ../page-layout/footer.pug
   //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
   script(async src="/dist/js/site-main.js")