

//inputs
.default-input {
   padding: 20px 30px;

   font-size: 18px;

   border-radius: 3px;

   &.error {
      border-color: red;
   }

   &.success {
      border-color: green;
   }

   &::placeholder {
      color: gray;
   }

   &.full-width {
      width: 100%;
   }
}