

//inputs
.default-input {
   padding: 20px 30px;

   font-size: 18px;

   border-radius: 3px;

   &.error {
      border-color: red;
   }

   &.success {
      border-color: green;
   }

   &::placeholder {
      color: gray;
   }

   &.full-width {
      width: 100%;
   }
}

//.default-input.must-input
//   .input-wrap
//      input.input(type="text" name="phone" id="input" required="")
//      label.placeholder() Телефон
//      .icon
//   p.error-text Телефон не заполнен полностью