
<!DOCTYPE html>
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="../css/main.css")
      title Описание сайта
      //-meta(name="viewport" content="width=900")
   body
      include ../include/sprite.svg
      include ./header.pug
      main.page-content
         block content
      include ./footer.pug
      script(src="/js/main.js")