.b-input {
	margin-bottom: 16px;

	&__input {
		width: 100%;
		padding: 12px;

		color: black;

		border: 1px solid black;
		border-radius: 2px;

		&:focus {
			border-color: black;
		}

		&::placeholder {
			@include adapt-font-size(20, 16);
			color: gray;
		}
	}

	&_textarea {
		.b-input__placeholder {
			top: 26px;
		}

		textarea {
			height: 112px;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 16px;

		transform: translateY(-50%);

		img {
			width: 16px;
		}
	}

	&__error-text {
		display: none;
		padding-top: 3px;

		color: red;
		font-size: 12px;

		text-indent: 3px;
	}

	&__input-wrap {
	}

	&_has-error {
		.b-input {
			&__input {
				border: 1px solid red;
			}

			&__error-text {
				display: block;
			}
		}
	}

	&_has-success {
		.b-input {
			&__input {
				border: 1px solid green;
			}
		}
	}

	&_password {
		.b-input {
			&__icon {
				cursor: pointer;

				&:hover {
					svg * {
						fill: blue;
					}
				}
			}

			&__icon.active {
				.eye-icon {
					display: block;
				}

				.noeye-icon {
					display: none;
				}
			}

			&__icon:not(.active) {
				.eye-icon {
					display: none;
				}

				.noeye-icon {
					display: block;
				}
			}
		}
	}
}

//.b-input.must-input
//   .b-input__input-wrap
//      input.b-input__input(type="text" name="phone" id="input" required="")
//      label.b-input__placeholder() Номер телефона
//   p.b-input__error-text Ошибка ввода. Введите 11 цифр для телефона.
