.b-link {
	&_inline {
		display: inline;
		white-space: break-spaces;
	}

	&_underline {
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}
}

.h-hover-link-trigger {
	cursor: pointer;

	&:hover {
		.hover-link-target {
			color: blue;
		}
	}
}

.h-hover-link-target {
	&:hover {
		color: blue;
	}
}
